// bower:scss
@import "bourbon/dist/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

@import 'base/base';

$mobile: new-breakpoint(max-width 768px 4);
$mobile-map-height: new-breakpoint(max-height 700px 4);


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  background: url('../images/chattanooga.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map_section {
  background-color: white;
  padding: 1em 1em 1em 1em;
  border-radius: 6px;
  background-image:url('../images/paper_fibers.png');
  background-repeat:repeat;
}

section {

  @include outer-container;

  #heading { 
    @include span-columns(12); 
  }

  #map { 
    @include span-columns(9); 
    min-height: em(800);

    /* Don't want the map to be too long on mobile */
    @include media($mobile-map-height) {
      min-height: em(500);
    }

    @include media($mobile) {
      @include span-columns(4);
      margin-bottom: 1em;
    }
  }

  #info { 
    @include span-columns(3); 

    @include media($mobile) {
      @include span-columns(4);
    }

    table tbody tr td {
      font-size: em(13);
      text-align: center;
      @include media($mobile) {
        font-size: em(20);
      }
    }
  }
}

#heading {
  margin-bottom: 1em;
  color: white;

  /* Make the heading a little smaller on screens with less vertical space */
  @include media($mobile-map-height) {
      font-size: em(12);
    }
  @include media($mobile) {
    text-align: center;
  }
}

footer {
  text-align: right;
  padding-top: 0.5em;
  color: white;
}
